.navbar {
    margin-bottom: 0;
    background-color: #343235;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.main-body {
	margin: 60px 150px;
	padding-top: 53px;
}

h2{
	margin-bottom: 23px;
}

.main-img, .main-img img {
	opacity: 0.8;
	width: 100%;
}

input.field, select.select-level {
	margin-left: 10px;
}