/*******************************************
DEFAULT FOR EVERY PAGE
*******************************************/
.main-body, body, #myPage {
	margin: 100px 100px !important;
	/*width: 100%;*/
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999 !important;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

button#toOpen {
	border: none;
	background-color: transparent;
	outline: none;
	height: 50px;
	cursor: pointer;
}


.line {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}



/*******************************************
NEW USER PAGE FORM
*******************************************/

.select-level {
	width: 150px;
	height: 30px;
	margin: 2px;
}

#field-username, #field-pw {
    background-color: rgb(248, 248, 248);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
    border-radius: 5px;
    width: 150px;
		height: 30px;
		margin: 2px;
}

.user-attribute {
	margin: 5px;
}

.form-div {
	width: 500px;
	text-align: left;
	left: 50%;
}


label {
	width:150px;
}

.top-msg {
	float: right;
	display: inline-block;
	margin: 10px;
}

.login {
	float:right;
}



/*******************************************
TOP BAR FOR EVERY PAGE
*******************************************/
.jumbotron {
			padding: 100px 25px;
	}

.navbar {
    margin-bottom: 0;
    background-color: #343235;
    /*z-index: 9999;*/
    border: 0;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    margin-right: 50px;
    margin-left: 20px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


/*
.top-bar {
	background-color: #444245;
	width: 100%;
	line-height: 1.42857143 !important;
	padding: 10px 10px;
}

.header-log a, .logout a, .logout, .sample-log a{
	float:right;
	text-decoration: none;
	margin: -15px 1px;
	padding: 8px;
	border-radius: 10px;
	color: #545342;
	font-weight: bold;
}

.header-log a:link, .logout a:link, .sample-log a:link {
    background-color: #E6CD80;

}

.header-log a:hover, .logout a:hover, .sample-log a:hover {
	background-color: #9A491C;
}

.logout {
	margin: 20px;
}*/



/*******************************************
USERHOME
*******************************************/

#refresh-button {
	position: absolute;
	top: 468px;
   left: 506px;
}

div#userhome-assign, div#userhome-h2 {
	border: 2px solid grey;
	margin-bottom: 5px;
	padding: 10px;
}

div#userhome-assign h2, div#userhome-h2 h2 {
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	margin-bottom: 20px;
}

/*******************************************
H2 WITHIN PAGES
*******************************************/

#sample-header, #samplespage-h2, #todo-header {
	border: 2px solid grey;
	width: 389px;
	float:left;
	overflow-y: auto;
	height: 350px;
	margin-top: 0;
	display: table-cell;
}

#samplespage-h2 {
	border: 2px solid grey;
	margin-bottom: 0;
	margin-top: 20px;
	margin-left: 5px;
}

#userhome-h2 {
	display: table-cell;
}

#userhome-todo {
	border: 2px solid grey;
	width:389px;
	display: table-cell;
}


table {
  table-layout: fixed;
  width: 800px;
 }


/*******************************************
SAMPLES PAGE
*******************************************/

ul {
	list-style: none;
	padding: 0;
	margin: 0px 5px;
}

.sample-li {
	margin: 5px;
	padding: 10px;
	border: 2px dashed grey;
}

.new-div {
	margin-bottom: 50px;
}

#edit-samples {
	position: absolute;
	display: inline-flex;
	top: 427px;
	left: 728px;
}

@media only screen and (max-width: 600px) {
    #userhome-h2, #userhome-todo {
        display: block;
        width: 100%;
    }
}

input.sample {
	width: 171px;
}

.deletes, .edits {
	display: none;
	margin: 5px;
}

.container input {
  cursor: pointer;
 }


.buttons {
	display: inline-block;
}

th#edit-col {
	height: 155px;
	width:150px;
}

table {
	border: 2px solid grey;
}

th, td {
	border: 2px solid grey;
	padding: 10px;
}

/*******************************************
METHODS PAGE
*******************************************/

input.search-bar {
	margin: 5px;
	width: 300px;
}


th#method-name {
	-webkit-column-width: 100px; /* Chrome, Safari, Opera */
  -moz-column-width: 100px; /* Firefox */
	column-width: 300px;
}



